<div>
    <div class="search-container">
        <input type="search" placeholder="Search Item name" ng-model="$ctrl.searchQuery.name">
        <div>
            <label>
                <input type="radio" name="searchType" ng-value="{{$ctrl.standard}}" ng-model="$ctrl.searchQuery.searchMode" ng-change="$ctrl.searchItems()">
                Standard
            </label>
            <label>
                <input type="radio" name="searchType"  ng-value="{{$ctrl.community}}" ng-model="$ctrl.searchQuery.searchMode" ng-change="$ctrl.searchItems()">
                Community
            </label>
            <label>
                <input type="radio" name="searchType" ng-value="{{$ctrl.all}}" ng-model="$ctrl.searchQuery.searchMode" ng-change="$ctrl.searchItems()">
                All
            </label>

            <button ng-click="$ctrl.searchItems()">
                Go
            </button>
        </div>
    </div>

    <div class="rpg-bm-15">
        <a id="createItemsAnchor"></a>
        <a ng-click="$ctrl.createItem()" ng-hide="$ctrl.newItem">
            Create Item+
        </a>
        <a ng-click="$ctrl.cancelItem()" ng-show="$ctrl.newItem">
            Cancel
        </a>
    </div>
    <div ng-show="$ctrl.forResult" class="rpg-center-text rpg-bm-15">
        Click an Item name to add it to your creature/character.
    </div>
    <div ng-show="$ctrl.showThanksForSubmitting" class="rpg-bm-10 thanks-box">
        Thank you for submitting. Your new Item can now be found when searching "Community" Items!
    </div>
    <div class="rpg-tm-20" ng-show="!$ctrl.rpgPlayerSession.isAuthenticated && $ctrl.newItem">
        <div class="rpg-bm-5">
            You must be signed in to submit Items.
        </div>
        <rpg-login></rpg-login>
    </div>
    <div class="panel" ng-show="$ctrl.newItem && $ctrl.rpgPlayerSession.isAuthenticated">
        <div class="panel-heading">
            <input type="text" placeholder="Item name" ng-model="$ctrl.newItem.name" ng-keydown="$ctrl.newNameKeyDown($event)">
        </div>
        <div class="panel-body">
            <strong>
                Describe your Item here: 
            </strong>
            <span ng-show="$ctrl.editingDescription">(Editing uses markdown syntax)</span>

            <div class="markdown-container" ng-click="$ctrl.editDescription()" ng-show="!$ctrl.editingDescription" btf-markdown="$ctrl.newItem.description"></div>
            <textarea ng-model="$ctrl.newItem.description" ng-show="$ctrl.editingDescription" ng-blur="$ctrl.editingDescription = false"
                rpg-focus="$ctrl.editingDescription"></textarea>

            <div>
                <strong>
                    Weight: (In Pounds)
                </strong>  
                <input type="number" ng-model="$ctrl.newItem.weightInPounds">  
            </div>

            <div class="rpg-lm-20">
                <h3>
                    Enchantments...
                    <button ng-show="!$ctrl.newEnchantment" class="rpg-pull-right rpg-tm-5 sm rnd" ng-click="$ctrl.createEnchantment()">
                        <i class="fa fa-plus"></i>
                    </button>
                     <button ng-show="$ctrl.newEnchantment" class="rpg-pull-right rpg-tm-5 sm rnd" ng-click="$ctrl.cancelEnchantment()">
                        <i class="fa fa-times"></i>
                    </button>
                </h3>
                
                <ul>
                    <li ng-repeat="enchantment in $ctrl.newItem.enchantments">
                        {{ enchantment.name}}
                    </li>
                </ul>
                
                <div ng-show="$ctrl.newEnchantment">
                    <div>
                        <strong>
                            Base Spell:
                        </strong>
                        <a ng-click="$ctrl.chooseSpell()">[{{ $ctrl.baseSpellName }}]</a>
                        <div ng-if="$ctrl.choosingSpell">
                            <rpg-spells for-result="$ctrl.chooseSpellResultDeferred"></rpg-spells>
                        </div>
                    </div>
                    <div>
                        <strong>
                            Enchantment name:
                        </strong>
                        <input type="text" placeholder="Enchantment name" ng-model="$ctrl.newEnchantment.name" ng-change="$ctrl.clearIssue()">
                    </div>
                    <div>
                        <strong>
                            Enchantment description:
                        </strong>
                        <textarea ng-model="$ctrl.newEnchantment.description" ng-change="$ctrl.clearIssue()"></textarea>
                    </div>
                    <div>
                        <strong>
                            Magic Damage from Enchantment:
                        </strong>
                        <select ng-options="opt for opt in $ctrl.magicDamageFromEnchantment" ng-model="$ctrl.newEnchantment.magicDamage"></select>
                    </div>
                    <div ng-show="!$ctrl.newEnchantmentSpellIsAttack">
                        <div>
                            <strong>
                                Energy used in creation: 
                            </strong>
                            <input type="number" ng-change="$ctrl.clearIssue()" ng-model="$ctrl.newEnchantment.energyUsedInEnchantment" min="0">
                        </div>
                        <div ng-show="$ctrl.newEnchantmentSpellIsConcentration">
                            <strong>
                                # of rounds can be used in a day (0 for unlimited; Unlimited Enchantments require permanently sacrificing Energy to create)
                            </strong>
                            <input type="number" ng-model="$ctrl.newEnchantment.usesOrRoundsPerDay" max="{{ $ctrl.newEnchantment.energyUsedInEnchantment - 1}}"
                                min="0">
                            <div>
                                <strong>
                                    Effective Energy: {{ $ctrl.newEnchantment.energyUsedInEnchantment - $ctrl.newEnchantment.usesOrRoundsPerDay }}
                                </strong>
                            </div>
                        </div>
                        <div ng-show="!$ctrl.newEnchantmentSpellIsConcentration">
                            <strong>
                                # of uses per day (0 for unlimited; Unlimited Enchantments require permanently sacrificing Energy to create)
                            </strong>
                            <input type="number" ng-model="$ctrl.newEnchantment.usesOrRoundsPerDay" max="{{ $ctrl.newEnchantment.energyUsedInEnchantment - 1}}"
                                min="0">
                        </div>
                    </div>
                    <div>
                        <a ng-click="$ctrl.createEnchantment()">
                            Add another Enchantment+
                        </a>
                        <span style="color:red;">
                            {{ $ctrl.enchantmentIssue }}
                        </span>
                    </div>
                </div>
                
            </div>

            <div class="rpg-tm-20">
                <div>
                    <label>
                        <input type="radio" ng-value="true" ng-model="$ctrl.useRecommendedCost">
                        Use recommended cost: {{ $ctrl.recommendedCost | wealth }}
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" ng-value="false" ng-model="$ctrl.useRecommendedCost">
                        Use custom cost...
                    </label>
                    <div ng-show="!$ctrl.useRecommendedCost">
                        <strong>
                            Gold:
                        </strong>
                        <input type="number"  placeholder="Gold" ng-model="$ctrl.gold">
                        <strong>
                            Silver:
                        </strong>
                        <input type="number"  placeholder="Silver" ng-model="$ctrl.silver">
                        <strong>
                            Copper:
                        </strong>
                        <input type="number"  placeholder="Copper" ng-model="$ctrl.copper">
                    </div>
                </div>
            </div>
            <div class="rpg-tm-20">
                <strong>
                    I agree that I believe this Item...
                </strong>
                <ul>
                    <li>
                        <label>
                        <input type="checkbox" ng-model="$ctrl.isFun">
                        Is Fun,
                    </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" ng-model="$ctrl.isBalanced">
                            Is Balanced, 
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" ng-model="$ctrl.abidesTOS">
                            Abides by the <a href="">Terms of Service</a>.
                        </label>
                    </li>
                </ul>
            </div>

        </div>

        <div class="panel-footer">
            <div class="author-info">
                <button ng-click="$ctrl.submitItem()" ng-disabled="$ctrl.disableSubmitButton">
                    Submit
                </button>
            </div>
        </div>

    </div>

    <div class="panel" ng-repeat="item in $ctrl.items">
        <div class="panel-heading">
            <span ng-click="$ctrl.itemClicked(item)">
                {{ item.name }}
            </span>
            <a ng-click="$ctrl.editItem(item)" ng-if="$ctrl.shouldShowEdit(item)" class="fa fa-pencil pull-right" style="color:white;"></a>
        </div>
        <div class="panel-body">
            <div btf-markdown="item.description"></div>

            <div class="rpg-center-text" ng-show="!$ctrl.isViewingDetailsOfItem(item)">
                <a ng-click="$ctrl.viewDetailsOfItem(item)">
                    See details
                </a>
            </div>
            <div ng-show="$ctrl.isViewingDetailsOfItem(item)">
                <div>
                    <strong>
                        Cost:
                    </strong>
                    {{ item.cost }}
                </div>
                <div>
                    <strong>
                        Weight:
                    </strong>
                    {{ item.weightInPounds }} lbs.
                </div>
                <div>
                    <strong>
                        Enchantments:
                    </strong>
                    <i ng-show="!$ctrl.enchantmentsByItemId[item.equipmentId]" class="fa fa-spinner fa-pulse"></i>

                    <span ng-show="$ctrl.enchantmentsByItemId[item.equipmentId] && $ctrl.enchantmentsByItemId[item.equipmentId].length === 0">None</span>
                    <ul>
                        <li ng-repeat="enchantment in $ctrl.enchantmentsByItemId[item.equipmentId]">
                            {{ enchantment.name }}
                            <div class="rpg-lm-10">
                                <div>
                                    <strong>
                                        Base Spell:
                                    </strong>
                                    {{ enchantment.baseSpell.name }}
                                </div>
                                <div ng-show="enchantment.magicDamage !== $ctrl.noneMagicDamage">
                                    <strong>
                                        Damage:
                                    </strong>
                                    {{ enchantment.magicDamage }}
                                </div>
                                <div ng-show="$ctrl.spellIsConcentration(enchantment.baseSpell)">
                                    <div>
                                        <strong>
                                            Effective Energy:
                                        </strong>
                                        {{ enchantment.energyUsedInEnchantment - enchantment.usesOrRoundsPerDay }}
                                    </div>
                                    <div ng-show="enchantment.usesOrRoundsPerDay > 0">
                                        <strong>
                                            Rounds per day:
                                        </strong>
                                        {{ enchantment.usesOrRoundsPerDay }}
                                    </div>
                                    <div ng-show="enchantment.usesOrRoundsPerDay === 0">
                                        <strong>
                                            <i>
                                                Permanent
                                            </i>
                                        </strong>
                                    </div>
                                </div>
                                <div ng-show="!$ctrl.spellIsConcentration(enchantment.baseSpell)">
                                    <div>
                                        <strong>
                                            Effective Energy:
                                        </strong>
                                        {{ enchantment.energyUsedInEnchantment }}
                                    </div>
                                    <div ng-show="enchantment.usesOrRoundsPerDay > 0">
                                        <strong>
                                            Uses per day:
                                        </strong>
                                        {{ enchantment.usesOrRoundsPerDay }}
                                    </div>
                                    <div ng-show="enchantment.usesOrRoundsPerDay === 0">
                                        <strong>
                                            <i>
                                                Unlimited uses
                                            </i>
                                        </strong>
                                    </div>
                                </div>
                                {{ enchantment.description }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="author-info">
                Submitted by {{ item.author.playerName }} on {{ item.createdAtMS | date }}
            </div>
        </div>
    </div>
    <div style="text-align:center;" ng-show="$ctrl.loading">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    </div>
    <button ng-show="$ctrl.shouldShowLoadMore()" ng-click="$ctrl.searchItems(true)">
        More
    </button>

    <div class="empty-box" ng-show="$ctrl.shouldShowEmptyBox()">
        No Items yet. Why not <a ng-click="$ctrl.createItem()">Create your own</a>?
    </div>
</div>