<div class="creature-energy">
    <div class="heart-wrapper">
        <div class="heart-header">
            <h2>
                <span class="visible-print">
                    MAX
                </span>
                ENERGY
            </h2>
        </div>
        <div class="heart">
            <span class="energy-values hidden-print">
                <span ng-show="$ctrl.editor.currentMode === $ctrl.editor.playing">{{ $ctrl.creature.currentEnergy }}/</span>{{ $ctrl.creature.maxEnergy }}
            </span>
        </div>
    </div>
    <div class="sources" ng-show="$ctrl.editor.currentMode !== $ctrl.editor.playing">
        <table class="hidden-print">
            <tr>
                <th>Source</th>
                <th>Amount</th>
            </tr>
            <tr ng-repeat="source in $ctrl.energySources">
                <td>
                    {{ source.reason }}
                </td>
                <td>
                    {{ $ctrl.formatModifier(source) }}
                </td>
            </tr>
        </table>
        <i class="hidden-print">
            Level up or take Features such as Vitality to increase Energy
        </i>
        <h4 class="visible-print" style="text-decoration: underline;margin-top: 2px;">
            Wounds/Current Energy
        </h4>
    </div>
    <div class="ledger" ng-show="$ctrl.editor.currentMode === $ctrl.editor.playing">
        <textarea placeholder="e.g.: -3 + 7 - 2" ng-model="$ctrl.editor.creature.currentEnergyLedger"></textarea>
    </div>
</div>