<div>
    <div class="search-container">
        <input type="search" placeholder="Search Armor name" ng-model="$ctrl.searchQuery.name">
        <div>
            <label>
                <input type="radio" name="searchType" ng-value="{{$ctrl.standard}}" ng-model="$ctrl.searchQuery.searchMode" ng-change="$ctrl.searchArmor()">
                Standard
            </label>
            <label>
                <input type="radio" name="searchType"  ng-value="{{$ctrl.community}}" ng-model="$ctrl.searchQuery.searchMode" ng-change="$ctrl.searchArmor()">
                Community
            </label>
            <label>
                <input type="radio" name="searchType" ng-value="{{$ctrl.all}}" ng-model="$ctrl.searchQuery.searchMode" ng-change="$ctrl.searchArmor()">
                All
            </label>

            <button ng-click="$ctrl.searchArmor()">
                Go
            </button>
        </div>
    </div>

    <div class="rpg-bm-15">
        <a id="createArmorAnchor"></a>
        <a ng-click="$ctrl.createArmor()" ng-hide="$ctrl.newArmor">
            Create Armor+
        </a>
        <a ng-click="$ctrl.cancelArmor()" ng-show="$ctrl.newArmor">
            Cancel
        </a>
    </div>
    <div ng-show="$ctrl.forResult" class="rpg-center-text rpg-bm-15">
        Click a Armor name to add it to your creature/character.
    </div>
    <div ng-show="$ctrl.showThanksForSubmitting" class="rpg-bm-10 thanks-box">
        Thank you for submitting. Your new Armor can now be found when searching "Community" Armor!
    </div>
    <div class="rpg-tm-20" ng-show="!$ctrl.rpgPlayerSession.isAuthenticated && $ctrl.newArmor">
        <div class="rpg-bm-5">
            You must be signed in to submit Armor.
        </div>
        <rpg-login></rpg-login>
    </div>
    <div class="panel" ng-show="$ctrl.newArmor && $ctrl.rpgPlayerSession.isAuthenticated">
        <div class="panel-heading">
            <input type="text" placeholder="Armor name" ng-model="$ctrl.newArmor.name" ng-keydown="$ctrl.newNameKeyDown($event)">
        </div>
        <div class="panel-body">
            <strong>
                Describe your Armor here: 
            </strong>
            <span ng-show="$ctrl.editingDescription">(Editing uses markdown syntax)</span>

            <div class="markdown-container" ng-click="$ctrl.editDescription()" ng-show="!$ctrl.editingDescription" btf-markdown="$ctrl.newArmor.description"></div>
            <textarea ng-model="$ctrl.newArmor.description" ng-show="$ctrl.editingDescription" ng-blur="$ctrl.editingDescription = false"
                rpg-focus="$ctrl.editingDescription"></textarea>
            <div>
                <strong>
                    Defense Bonus:
                </strong>
                <input type="number" ng-model="$ctrl.newArmor.defenseBonus">
            </div>
            <div>
                <strong>
                    Weight: (In Pounds)
                </strong>
                <input type="number" ng-model="$ctrl.newArmor.weightInPounds">
            </div>
            <div>
                <strong>
                    Speed Penalty
                </strong>
                <input type="number" step="5" min="0" max="10" ng-model="$ctrl.newArmor.speedPenalty">
            </div>
            <div>
                <strong>
                    Bestows Disadvantage:
                </strong>
                {{ $ctrl.newArmor.bestowsDisadvantage ? 'Yes' : 'No' }}
            </div>
            <div>
                <strong>
                    Rounds to Don:
                </strong>
                {{ $ctrl.newArmor.roundsToDon }}
            </div>

            <div class="rpg-lm-20">
                <h3>
                    Enchantments...
                    <button ng-show="!$ctrl.newEnchantment" class="rpg-pull-right rpg-tm-5 sm rnd" ng-click="$ctrl.createEnchantment()">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button ng-show="$ctrl.newEnchantment" class="rpg-pull-right rpg-tm-5 sm rnd" ng-click="$ctrl.cancelEnchantment()">
                        <i class="fa fa-times"></i>
                    </button>
                </h3>

                <ul>
                    <li ng-repeat="enchantment in $ctrl.newArmor.enchantments">
                        {{ enchantment.name}}
                    </li>
                </ul>

                <div ng-show="$ctrl.newEnchantment">
                    <div>
                        <strong>
                            Base Spell:
                        </strong>
                        <a ng-click="$ctrl.chooseSpell()">[{{ $ctrl.baseSpellName }}]</a>
                        <div ng-if="$ctrl.choosingSpell">
                            <rpg-spells for-result="$ctrl.chooseSpellResultDeferred"></rpg-spells>
                        </div>
                    </div>
                    <div>
                        <strong>
                            Enchantment name:
                        </strong>
                        <input type="text" placeholder="Enchantment name" ng-model="$ctrl.newEnchantment.name" ng-change="$ctrl.clearIssue()">
                    </div>
                    <div>
                        <strong>
                            Enchantment description:
                        </strong>
                        <textarea ng-model="$ctrl.newEnchantment.description" ng-change="$ctrl.clearIssue()"></textarea>
                    </div>
                    <div>
                        <strong>
                            Magic Damage from Enchantment:
                        </strong>
                        <select ng-options="opt for opt in $ctrl.magicDamageFromEnchantment" ng-model="$ctrl.newEnchantment.magicDamage"></select>
                    </div>
                    <div ng-show="!$ctrl.newEnchantmentSpellIsAttack">
                        <div>
                            <strong>
                                Energy used in creation: 
                            </strong>
                            <input type="number" ng-change="$ctrl.clearIssue()" ng-model="$ctrl.newEnchantment.energyUsedInEnchantment" min="0">
                        </div>
                        <div ng-show="$ctrl.newEnchantmentSpellIsConcentration">
                            <strong>
                                # of rounds can be used in a day (0 for unlimited; Unlimited Enchantments require permanently sacrificing Energy to create)
                            </strong>
                            <input type="number" ng-model="$ctrl.newEnchantment.usesOrRoundsPerDay" max="{{ $ctrl.newEnchantment.energyUsedInEnchantment - 1}}"
                                min="0">
                            <div>
                                <strong>
                                    Effective Energy: {{ $ctrl.newEnchantment.energyUsedInEnchantment - $ctrl.newEnchantment.usesOrRoundsPerDay }}
                                </strong>
                            </div>
                        </div>
                        <div ng-show="!$ctrl.newEnchantmentSpellIsConcentration">
                            <strong>
                                # of uses per day (0 for unlimited; Unlimited Enchantments require permanently sacrificing Energy to create)
                            </strong>
                            <input type="number" ng-model="$ctrl.newEnchantment.usesOrRoundsPerDay" max="{{ $ctrl.newEnchantment.energyUsedInEnchantment - 1}}"
                                min="0">
                        </div>
                    </div>
                    <div>
                        <a ng-click="$ctrl.createEnchantment()">
                            Add another Enchantment+
                        </a>
                        <span style="color:red;">
                            {{ $ctrl.enchantmentIssue }}
                        </span>
                    </div>
                </div>

            </div>

            <div class="rpg-tm-20">
                <div>
                    <label>
                        <input type="radio" ng-value="true" ng-model="$ctrl.useRecommendedCost">
                        Use recommended cost: {{ $ctrl.recommendedCost | wealth }}
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" ng-value="false" ng-model="$ctrl.useRecommendedCost">
                        Use custom cost...
                    </label>
                    <div ng-show="!$ctrl.useRecommendedCost">
                        <strong>
                            Gold:
                        </strong>
                        <input type="number" placeholder="Gold" ng-model="$ctrl.gold">
                        <strong>
                            Silver:
                        </strong>
                        <input type="number" placeholder="Silver" ng-model="$ctrl.silver">
                        <strong>
                            Copper:
                        </strong>
                        <input type="number" placeholder="Copper" ng-model="$ctrl.copper">
                    </div>
                </div>
            </div>
            <div class="rpg-tm-20">
                <strong>
                    I agree that I believe this Armor...
                </strong>
                <ul>
                    <li>
                        <label>
                        <input type="checkbox" ng-model="$ctrl.isFun">
                        Is Fun,
                    </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" ng-model="$ctrl.isBalanced">
                            Is Balanced, 
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" ng-model="$ctrl.abidesTOS">
                            Abides by the <a href="">Terms of Service</a>.
                        </label>
                    </li>
                </ul>
            </div>

        </div>

        <div class="panel-footer">
            <div class="author-info">
                <button ng-click="$ctrl.submitArmor()" ng-disabled="$ctrl.disableSubmitButton">
                    Submit
                </button>
            </div>
        </div>

    </div>

    <div class="panel" ng-repeat="armor in $ctrl.armor">
        <div class="panel-heading">
            <span ng-click="$ctrl.armorClicked(armor)">
                {{ armor.name }}
            </span>
            <a ng-click="$ctrl.editArmor(armor)" ng-if="$ctrl.shouldShowEdit(armor)" class="fa fa-pencil pull-right" style="color:white;"></a>
        </div>
        <div class="panel-body">
            <div btf-markdown="armor.description"></div>

            <div class="rpg-center-text" ng-show="!$ctrl.isViewingDetailsOfArmor(armor)">
                <a ng-click="$ctrl.viewDetailsOfArmor(armor)">
                    See details
                </a>
            </div>
            <div ng-show="$ctrl.isViewingDetailsOfArmor(armor)">
                <div>
                    <strong>
                        Cost:
                    </strong> {{ armor.cost | wealth }}
                </div>
                <div>
                    <strong>
                        Weight:
                    </strong> 
                    {{ armor.weightInPounds }} lbs.
                </div>
                <div>
                    <strong>
                            Bestows Disadvantage: 
                    </strong>
                    {{ armor.bestowsDisadvantage ? 'Yes' : 'No' }}
                </div>
                <div>
                    <strong>
                        Defense Bonus:
                    </strong>
                    +{{ armor.defenseBonus }}
                </div>
                <div>
                    <strong>
                        Speed Penalty:
                    </strong>
                    {{ armor.speedPenalty }}
                </div>
                <div>
                    <strong>
                    Rounds to Don:
                    </strong>
                    {{ armor.roundsToDon }}
                </div>
                <div>
                    <strong>
                        Enchantments:
                    </strong>
                    <i ng-show="!$ctrl.enchantmentsByArmorId[armor.equipmentId]" class="fa fa-spinner fa-pulse"></i>

                    <span ng-show="$ctrl.enchantmentsByArmorId[armor.equipmentId] && $ctrl.enchantmentsByArmorId[armor.equipmentId].length === 0">None</span>
                    <ul>
                        <li ng-repeat="enchantment in $ctrl.enchantmentsByArmorId[armor.equipmentId]">
                            {{ enchantment.name }}
                            <div class="rpg-lm-10">
                                <div>
                                    <strong>
                                        Base Spell:
                                    </strong> {{ enchantment.baseSpell.name }}
                                </div>
                                <div ng-show="enchantment.magicDamage !== $ctrl.noneMagicDamage">
                                    <strong>
                                        Damage:
                                    </strong> {{ enchantment.magicDamage }}
                                </div>
                                <div ng-show="$ctrl.spellIsConcentration(enchantment.baseSpell)">
                                    <div>
                                        <strong>
                                            Effective Energy:
                                        </strong> {{ enchantment.energyUsedInEnchantment
                                        - enchantment.usesOrRoundsPerDay }}
                                    </div>
                                    <div ng-show="enchantment.usesOrRoundsPerDay > 0">
                                        <strong>
                                            Rounds per day:
                                        </strong> {{ enchantment.usesOrRoundsPerDay
                                        }}
                                    </div>
                                    <div ng-show="enchantment.usesOrRoundsPerDay === 0">
                                        <strong>
                                            <i>
                                                Permanent
                                            </i>
                                        </strong>
                                    </div>
                                </div>
                                <div ng-show="!$ctrl.spellIsConcentration(enchantment.baseSpell)">
                                    <div>
                                        <strong>
                                            Effective Energy:
                                        </strong> {{ enchantment.energyUsedInEnchantment
                                        }}
                                    </div>
                                    <div ng-show="enchantment.usesOrRoundsPerDay > 0">
                                        <strong>
                                            Uses per day:
                                        </strong> {{ enchantment.usesOrRoundsPerDay
                                        }}
                                    </div>
                                    <div ng-show="enchantment.usesOrRoundsPerDay === 0">
                                        <strong>
                                            <i>
                                                Unlimited uses
                                            </i>
                                        </strong>
                                    </div>
                                </div>
                                {{ enchantment.description }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="author-info">
                Submitted by {{ armor.author.playerName }} on {{ armor.createdAtMS | date }}
            </div>
        </div>
    </div>
    <div style="text-align:center;" ng-show="$ctrl.loading">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    </div>
    <button ng-show="$ctrl.shouldShowLoadMore()" ng-click="$ctrl.searchArmor(true)">
        More
    </button>

    <div class="empty-box" ng-show="$ctrl.shouldShowEmptyBox()">
        No Armor yet. Why not <a ng-click="$ctrl.createArmor()">Create your own</a>?
    </div>
</div>